Repository vmware/powershell-module-for-vmware-cloud-foundation, pull requests merged in 2024-01, with the labels that each got.

#256 fix: increase `Get-VCFSystemPrecheckTask` output verbosity
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/system-prechecks/Get-VCFSystemPrecheckTask.md
Labels: documentation, needs-review

#257 feat: add `name` param to `Get-VCFPersonality`
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/personalities/Get-VCFPersonality.md
Labels: documentation, needs-review

#259 feat: add `monitorStatus` optional param to `Get-VCFTask`
  CHANGELOG.md
  LICENSE
  Makefile
  NOTICE
  PowerVCF.psd1
  PowerVCF.psm1
  README.md
  docs/community/index.md
  docs/documentation/functions/tasks/Get-VCFTask.md
  mkdocs.yml
Labels: documentation, dco-required

#261 revert: add `monitorStatus` optional param to `Get-VCFTask`
  CHANGELOG.md
  LICENSE
  Makefile
  NOTICE
  PowerVCF.psd1
  PowerVCF.psm1
  README.md
  docs/community/index.md
  docs/documentation/functions/tasks/Get-VCFTask.md
  mkdocs.yml
Labels: documentation, enhancement

#262 chore: update copyright
  LICENSE
  Makefile
  NOTICE
  README.md
  docs/community/index.md
  docs/requirements.txt
  mkdocs.yml
Labels: documentation, needs-review, chore
