Repository vmware/powershell-module-for-vmware-cloud-foundation, pull requests merged in 2024-02, with the labels that each got.

#265 feat: add support for host commision ui json spec
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/hosts/New-VCFCommissionedHost.md
  samples/hosts/ui-commissionHostsSpec.json
Labels: documentation

#269 refactor: enhance workload domain and commission hosts
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/domains/New-VCFWorkloadDomain.md
Labels: documentation, needs-review, refactor

#267 chore: remove depreciated function aliases
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
Labels: documentation, needs-review, breaking-change, chore, technical-debt

#271 fix: update `New-VCFWorkloadDomain`
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/domains/New-VCFWorkloadDomain.md
Labels: documentation, needs-review

#268 refactor: update `Invoke-VCFCommand`
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/other/Invoke-VCFCommand.md
  docs/documentation/functions/sos/Invoke-VCFCommand.md
  mkdocs.yml
Labels: documentation, needs-review, refactor, technical-debt

#272 feat:add support for exporting bringup json from P&P
  CHANGELOG.md
  PowerVCF.psd1
  PowerVCF.psm1
  docs/documentation/functions/json-export/Export-VCFManagementDomainJsonSpec.md
  mkdocs.yml
Labels: documentation, needs-review

#274 chore: fix typos in error messages
  PowerVCF.psd1
  PowerVCF.psm1
Labels: bug, documentation, needs-review
